/*Especificações gerais*/
body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .escondido {
    display: none;
} */

/* ----------------------------Layout Mobile (Tela 1)--------------------------------- */

/*Parte superior (título da página)*/
.header-tela1 {
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.header-tela1 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

/*Configurações do layout para listagem do conteúdo principal*/
.main-tela1 {
    width: 100%;
    margin: 100px auto 0;
    display: none;
}

/*Configurações para a área de navegação que redireciona para a parte de criar um quiz*/
.nav-tela1 {
    width: 340px;
    height: 181px;
    margin: 0 auto 35px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav-tela1 p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;

}

.nav-tela1 button {
    width: 151px;
    height: 40px;
    margin: 25px 95px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

/*Configurações apenas para "Todos os Quizzes"*/
.main-tela1 .quizzesCriadosPorTodos {
    padding-top: 25px;
}

/*Configurações padrões que servem tanto para os elementos dentro de "Seus Quizzes", quanto para "Todos os Quizzes"*/
.main-tela1 .quizzesCriadosUsuario, .quizzesCriadosPorTodos {
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.main-tela1 .quizzesCriadosUsuario h3, .quizzesCriadosPorTodos h3 {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela1 .quizzesCriadosUsuario img, .quizzesCriadosPorTodos img {
    margin-bottom: 13px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;

}

.main-tela1 .quizzesCriadosUsuario a, .quizzesCriadosPorTodos a {
    position: absolute;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

/*Configurações padrões que servem para a tag a dos "Seus Quizzes"*/
.main-tela1 .quizzesCriadosUsuario a {
    z-index: 5;
    left: 35px;
    top: 498px;
    /* Não apagar os seguintes pixels. Eles serão necessários para quando o usuário já tiver criado um quiz
    top: 282px; 
    left: 35px;
*/
}

/*Configurações padrões que servem para a tag a de "Todos os Quizzes"*/
.main-tela1 .quizzesCriadosPorTodos a {
    z-index: 5;
    left: 35px;
    top: 756px;
    /*Não apagar os seguintes pixels. Eles serão necessários para quando o usuário já tiver criado um quiz
    left: 35px;
    top: 540px;
    */
}

/*Configurações apenas para a tag img dos "Seus Quizzes"*/
.main-tela1 .quizzesCriadosUsuario img {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(https://criticalhits.com.br/wp-content/uploads/2020/12/J.-K.-Rowling-lancara-quatro-novos-livros-da-saga-Harry-Potter.jpg);
}

/*Configurações apenas para a tag img de "Todos os Quizzes"*/
.main-tela1 .quizzesCriadosPorTodos img {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(https://criticalhits.com.br/wp-content/uploads/2020/12/J.-K.-Rowling-lancara-quatro-novos-livros-da-saga-Harry-Potter.jpg);
}

/*Configurações apenas para a parte inicial dos "Seus Quizzes", abragendo o h3 e o icon */
.main-tela1 .quizzesCriadosUsuario .topo-quizzesCriadosUsuario {
    display: flex;
    justify-content: space-between;
}

.main-tela1 .quizzesCriadosUsuario .topo-quizzesCriadosUsuario #iconCriarQuiz {
    font-size: 30px;
    color: #EC362D;
    display: none;
}

/* ----------------------------Layout Mobile (Tela 1)--------------------------------- */


/*----------------------------Layout(Mobile) - Tela 2----------------------------------*/

/* barra fixa do topo */
.header-tela2 {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    z-index: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.header-tela2 h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43.36px;
    text-align: center;
}

/*título do quizz e imagem com opacidade escura */
.quizz-header {
    margin-top: 53px;
    margin-bottom: 24px;
    width: 100%;
    height: 142px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://www.animalepetshop.com.br/wp-content/uploads/2021/11/Spitz-Lula-Da-Pomernia-Creme-Perola-Fortaleza-Animale-Petshop.jpg);
    /* imagem do quizz com opacidade preta 60% */
}

.quizz-header p {
    color: #FFF;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    z-index: 5;
    top: 130px;
    left: 70px;
}

/* main tela 2*/

.tela2 {
    display: none;
} 

.box-respostas-impar, .box-respostas-par {
    /*divs com a pergunta e as opções de resposta do quizz*/
    background-color: #FFF;
    margin-bottom: 28px;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-respostas-impar .pergunta {
    background-color: #434CA0;
}

.box-respostas-par .pergunta {
    background-color: #A0438D;
}

.pergunta {
    width: 100%;
    height: 89px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

.pergunta p {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
}

.respostas {
    /*div que contém todas as opções de respostas*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta {
    /*div que contém a imagem e o p (descrição da imagem)*/
    margin-top: 12px;
    margin-bottom: 12px;
}

.resposta p {
    width: 163px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}

.opcao {
    /*div que contém só a imagem*/
    width: 163px;
    height: 133px;
}

.opcao img {
    width: 163px;
    height: 133px;
}

/* configurações de respostas certas e erradas */
.resposta-certa {
    color: #009C22;
}

.resposta-errada {
    color: #FF0B0B;
}

/* efeito-opacidade */
.box-respostas-impar .opacidade {
    background: url(../images/image\ 3.png);
    opacity: 0.3;
}

/* Tela final - resultado do quizz  */
.resultado-quizz {
    background-color: #FFFFFF;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.resultado-quizz .porcentagem-final {
    background-color: #EC362D;
    width: 100%;
    height: 99px;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 9px;
}

.resultado-quizz .porcentagem-final p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
}

.resultado-quizz .meme-final {
    width: 100%;
    height: 255px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultado-quizz .meme-final img {
    width: 340px;
    height: 255px;
    ;
}

.resultado-quizz .descricao-resultado {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #484848;
    margin-bottom: 14px;
}

/* botoes de reiniciar o quizz e voltar para home */
.botoes-finais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes-finais button {
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.botoes-finais .reiniciar-quizz {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220.32px;
    height: 44px;
    margin-bottom: 8px;
}

.botoes-finais .reiniciar-quizz p {
    color: #FFFFFF;
    text-align: center;
}

.botoes-finais .voltar-home {
    color: #818181;
    background-color: #FFFFFF;
    margin-bottom: 66px;
}

/*                               Layout(Mobile) - Tela 2                                      */

/* ----------------------------Layout Mobile (Tela 3.1)--------------------------------- */

/*Parte superior (título da página)*/
.header-tela3-1 {
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.header-tela3-1 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

/*Conteúdo principal (informações básicas para criação do quizz)*/
.main-tela3-1 {
    width: 100%;
    margin: 106px auto 0;
    display: none;
}

.main-tela3-1 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.main-tela3-1 .criarQuizInfoBasica {
    width: 100%;
    height: 256px;
    margin: 29px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-1 .criarQuizInfoBasica input {
    width: 341px;
    height: 46px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-1 .criarQuizInfoBasica input::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-1 .criarQuizInfoBasica input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-1 .criarQuizInfoBasica input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

/*Botão para enviar informações básicas para criação do quizz*/
.main-tela3-1 .botaoCriarQuizInfoBasica {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
}

.main-tela3-1 .botaoCriarQuizInfoBasica button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

/* ----------------------------Layout Mobile (Tela 3.1)--------------------------------- */


/* ----------------------------Layout Mobile (Tela 3.2)--------------------------------- */

/*Parte superior (título da página)*/
.header-tela3-2 {
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.header-tela3-2 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

/*Conteúdo principal (perguntas para criação do quizz)*/
.main-tela3-2 {
    width: 100%;
    margin: 106px auto 0;
    display: none;
}

.main-tela3-2 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 20px;
}

.main-tela3-2 .criarQuizPerguntas {
    width: 375px;
    height: 825px;
    margin: 29px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-2 .criarQuizPerguntas h4 {
    margin: 0px 0 0 17px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela3-2 .criarQuizPerguntas input {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-2 .criarQuizPerguntas .input-espaco {
    margin-bottom: 18px;
}

.main-tela3-2 .criarQuizPerguntas input::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

/*Parte que dá acesso ao segundo e terceiro blocos de perguntas (editar)*/
.main-tela3-2 .criarQuizPerguntas-CaixaPergunta {
    width: 100%;
    height: 74px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: none;

}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta h4 {
    margin-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta img {
    margin-right: 25px;
}

/*Botão para enviar perguntas para criação do quizz*/
.main-tela3-2 .botaoCriarPerguntas {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 61px;
    display: flex;
    justify-content: center;
}

.main-tela3-2 .botaoCriarPerguntas button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

/* ----------------------------Layout Mobile (Tela 3.2)--------------------------------- */

/* ----------------------------Layout Mobile (Tela 3.3)--------------------------------- */

/*Parte superior (título da página)*/
.header-tela3-3 {
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.header-tela3-3 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

/*Conteúdo principal (níveis para criação do quizz)*/
.main-tela3-3 {
    width: 100%;
    margin: 106px auto 0;
    display: none;
}

.main-tela3-3 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.main-tela3-3 .criarQuizNiveis {
    width: 375px;
    height: 439px;
    margin: 29px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-3 .criarQuizNiveis h4 {
    margin: 0px 0 0 17px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela3-3 .criarQuizNiveis input, textarea {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-3 .criarQuizNiveis textarea {
    width: 341px;
    height: 177px;
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-3 .criarQuizNiveis input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-3 .criarQuizNiveis input::-ms-input-placeholder, textarea::placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-3 .criarQuizNiveis input::-ms-input-placeholder, textarea::placeholder {
    color: #BABABA;
    font-style: italic;
}

/*Parte que dá acesso ao segundo e terceiro blocos de níveis (editar)*/
.main-tela3-3 .criarQuizNiveis-CaixaNiveis {
    width: 100%;
    height: 74px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    /* display: none; */

}

.main-tela3-3 .criarQuizNiveis-CaixaNiveis h4 {
    margin-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.main-tela3-3 .criarQuizNiveis-CaixaNiveis img {
    margin-right: 25px;
}

/*Botão para enviar níveis para criação do quizz*/
.main-tela3-3 .botaoCriarNiveis {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 136px;
    display: flex;
    justify-content: center;
}

.main-tela3-3 .botaoCriarNiveis button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

/* ----------------------------Layout Mobile (Tela 3.3)--------------------------------- */


/* ----------------------------Layout Mobile (Tela 3.4)--------------------------------- */

/* Barra fixa do topo */
.header-tela3-4 {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    z-index: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

/* Título da barra fixa */
.header-tela3-4 h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43.36px;
    text-align: center;
}

/* conteúdo principal da página */
.main-tela3-4 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.main-tela3-4 h3 {
    margin-top: 108px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 29px;
}

/* configurações da imagem */
.main-tela3-4 .elementos3-4 {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT81Et61bNY27A_vDkhi6K_SK0ueY_JEVU6xA&usqp=CAU);

}

/* configurações do texto que descreve a imagem */
.main-tela3-4 a {
    position: absolute;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 5;
    top: 100px;
    left: 35px;
    top: 293px;
}

/* configurações dos botões do final da página */
.main-tela3-4 button {
    border: none;
}
.main-tela3-4 .botao-acessar-quizz {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220.32px;
    height: 44px;
    margin-bottom: 8px;
    margin-top: 24px;
}
.main-tela3-4 .botao-acessar-quizz p {
    color: #FFFFFF;
    text-align: center;
}
.main-tela3-4 .voltar-home-3-4 {
    color: #818181;
    background-color: #FFFFFF;
    margin-top: 15px;
}

/* ----------------------------Layout Mobile (Tela 3.4)--------------------------------- */



