@media (min-width: 1100px) {

    .tela2 .quizz-header {
        margin-top: 68px;
        margin-bottom: 24px;
        width: 100%;
        height: 227px;
    }

    .tela2 .quizz-header p {
        font-size: 39px;
        line-height: 45.7px;
        top: 155px;
        left: 300px;
    }

    .tela2 .box-respostas-impar {
        width: 759px;
        height: 676px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tela2 .box-respostas-impar .pergunta {
        width: 688.16px;
        height: 137.99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tela2 .box-respostas-impar .respostas p {
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .tela2 .box-respostas-impar .respostas {
        width: 688.16px;
        height: 490px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .tela2 .box-respostas-impar .respostas p {
        font-size: 20px;
        line-height: 23px;
    }

    .tela2 .box-respostas-impar .opcao img {
        margin: 0;
        padding: 0;
        width: 329.91px;
        height: 175.2px;
    }

    .tela2 .box-respostas-impar .opcao {
        width: 329.91px;
        height: 185px;
    }

    .tela2 .box-respostas-par {
        width: 759px;
        height: 676px;
        margin: 42px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tela2 .box-respostas-par .pergunta {
        width: 688.16px;
        height: 137.99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tela2 .box-respostas-par .respostas {
        width: 688.16px;
        height: 490px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .tela2 .box-respostas-par .respostas p {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 23px;
    }

    .tela2 .box-respostas-par .opcao img {
        margin: 0;
        padding: 0;
        width: 329.91px;
        height: 175.2px;
    }

    .tela2 .box-respostas-par .opcao {
        width: 329.91px;
        height: 185px;
        margin: 0;
        padding: 0;
    }

    .tela-final-quizz {
        width: 759px;
        height: 430px;
        margin: auto;
    }

    .tela-final-quizz .porcentagem-final {
        width: 727px;
        height: 99px;
    }

    .tela-final-quizz .resultado-quizz-juncao {
        margin-top: 5px;
        display: flex;
    }

    .tela-final-quizz .resultado-quizz-juncao img {
        margin-right: 21px;
    }

    .tela-final-quizz .resultado-quizz-juncao p {
        font-weight: bold;
        font-size: 19px;
        line-height: 25px;
        word-wrap: break-word;
        text-align: left;
    }

    .main-tela3-1 .criarQuizInfoBasica {
        width: 600px;
    }

    .main-tela3-1 .criarQuizInfoBasica input {
        width: 900px;

    }

    .main-tela3-2 .criarQuizPerguntas-CaixaPergunta {

        width: 600px;
    }

    .main-tela1 .nav-tela1 {
        width: 1051px;
        height: 181px;
    }

    .main-tela1 .nav-tela1 button {
        margin-left: 451px;
    }

    .main-tela3-2 .criarQuizPerguntas {
        width: 600px;

    }

    .main-tela1 .quizzesCriadosPorTodos {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 1051px;
        margin: 0 auto;
      
    }


}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.escondido {
    display: none;
}

.header-tela1 {
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
}

.header-tela1 h1 {
    margin-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.main-tela1 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 100px auto 0;
}

.nav-tela1 {
    width: 340px;
    height: 181px;
    margin: 0 auto 35px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav-tela1 p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;

}

.nav-tela1 button {
    width: 151px;
    height: 40px;
    margin: 25px 95px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

.main-tela1 .quizzesCriadosPorTodos {
    padding-top: 25px;
}

.main-tela1 .quizzesCriadosPorTodos-Imagens {
    width: 340px;
    height: 181px;
    margin: 0 auto 13px;
    position: relative;
    word-wrap: break-word;
}

.main-tela1 .quizzesCriadosPorTodos-Imagens img {
    width: 100%;
    height: 181px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.main-tela1 .quizzesCriadosPorTodos .quizzesCriadosPorTodos-Imagens p {
    width: 100%;
    z-index: 5;
    left: 17px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.main-tela1 .quizzesCriadosUsuario {
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.main-tela1 .quizzesCriadosPorTodos {
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.main-tela1 .quizzesCriadosUsuario h3, .quizzesCriadosPorTodos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela1 .quizzesCriadosUsuario .topo-quizzesCriadosUsuario {
    display: flex;
    justify-content: space-between;
}

.main-tela1 .quizzesCriadosUsuario .topo-quizzesCriadosUsuario #iconCriarQuiz {
    font-size: 30px;
    color: #EC362D;
}

.main-tela1 .quizzesCriadosUsuario img {
    margin-bottom: 13px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

.main-tela1 .quizzesCriadosUsuario a {
    position: absolute;
    text-align: justify;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 5;
    left: 35px;
    top: 498px;
}

.main-tela1 .quizzesCriadosUsuario img {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(https://criticalhits.com.br/wp-content/uploads/2020/12/J.-K.-Rowling-lancara-quatro-novos-livros-da-saga-Harry-Potter.jpg);
}

.main-tela1 .quizzesCriadosUsuario h3 {
    margin-bottom: 16px;
}

.main-tela1 .quizzesCriadosPorTodos h3 {
    margin-bottom: 16px;
}

.header-tela2 {
    font-family: 'Roboto', sans-serif;
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    z-index: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-tela2 h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43.36px;
    text-align: center;
}


.quizz-header {
    margin-top: 53px;
    margin-bottom: 24px;
    width: 100%;
    height: 142px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://www.animalepetshop.com.br/wp-content/uploads/2021/11/Spitz-Lula-Da-Pomernia-Creme-Perola-Fortaleza-Animale-Petshop.jpg);
}

.quizz-header p {
    color: #FFF;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    z-index: 5;
    top: 120px;
    left: 70px;
}

.tela2 {
    font-family: 'Roboto', sans-serif;
}

.box-respostas-impar, .box-respostas-par {
    background-color: #FFF;
    margin-bottom: 28px;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-respostas-impar .pergunta {
    background-color: #434CA0;
}

.box-respostas-par .pergunta {
    background-color: #A0438D;
}

.pergunta {
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pergunta p {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta {
    margin-top: 12px;
    margin-bottom: 12px;
}

.resposta p {
    width: 163px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}

.opcao {
    width: 163px;
    height: 133px;
}

.opcao img {
    width: 163px;
    height: 133px;
}

.resposta-certa {
    color: #009C22;
}

.resposta-errada {
    color: #FF0B0B;
}

.box-respostas-impar .opacidade {
    background: url(../images/image\ 3.png);
    opacity: 0.3;
}

.resultado-quizz {
    background-color: #FFFFFF;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.resultado-quizz .porcentagem-final {
    background-color: #EC362D;
    width: 100%;
    height: 99px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultado-quizz .porcentagem-final p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.resultado-quizz .meme-final {
    width: 100%;
    height: 255px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultado-quizz .meme-final img {
    width: 340px;
    height: 255px;
}

.resultado-quizz .descricao-resultado {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #484848;
    margin-bottom: 14px;
    font-family: 'Roboto', sans-serif;
}

.botoes-finais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes-finais button {
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.botoes-finais .reiniciar-quizz {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220.32px;
    height: 44px;
    margin-bottom: 25px;
}

.botoes-finais .reiniciar-quizz p {
    color: #FFFFFF;
    text-align: center;
}

.botoes-finais .voltar-home {
    color: #818181;
    background-color: #FFFFFF;
    margin-bottom: 66px;
}

.header-tela3-1 {
    font-family: 'Roboto', sans-serif;
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
}

.header-tela3-1 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.main-tela3-1 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 106px auto 0;
}

.main-tela3-1 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.main-tela3-1 .criarQuizInfoBasica {
    width: 375px;
    height: 256px;
    margin: 29px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-1 .criarQuizInfoBasica input {
    width: 341px;
    height: 46px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-1 .criarQuizInfoBasica input::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-1 .criarQuizInfoBasica input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-1 .criarQuizInfoBasica input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-1 .botaoCriarQuizInfoBasica {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
}

.main-tela3-1 .botaoCriarQuizInfoBasica button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

.header-tela3-2 {
    font-family: 'Roboto', sans-serif;
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
}

.header-tela3-2 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.main-tela3-2 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 106px auto 0;
}

.main-tela3-2 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 20px;
}

.main-tela3-2 .criarQuizPerguntas {
    width: 375px;
    height: 825px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
}

.main-tela3-2 .criarQuizPerguntas h4 {
    margin: 0px 0 0 17px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela3-2 .criarQuizPerguntas input {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto 18px;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-2 .criarQuizPerguntas input::placeholder, .footer-tela3-2 .criarQuizPerguntas input::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder, .footer-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder, .footer-tela3-2 .criarQuizPerguntas input::-ms-input-placeholder {
    color: #BABABA;
    font-style: italic;
}

.criarQuizPerguntas .dados-pergunta, .criarQuizPerguntas .resposta-correta, .criarQuizPerguntas .resposta-errada{
    width: 341px;
    margin: 0 auto 18px;
}

.criarQuizPerguntas.escondido {
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta {
    width: 375px;
    height: 74px;
    margin: 29px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta h4 {
    margin-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta ion-icon {
    font-size: 26px;
    font-weight: bold;
    margin-right: 25px;
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta.escondido ion-icon {
    display: none;
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta.escondido {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: 35px;
    text-align: end;
}

.main-tela3-2 .criarQuizPerguntas-CaixaPergunta.escondido .tituloPergunta {
    margin-top: 40px;
    padding-bottom: 30px;
}

.footer-tela3-2 .botaoCriarPerguntas {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 61px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.footer-tela3-2 .botaoCriarPerguntas button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    font-family: 'Roboto', sans-serif;
}

.header-tela3-3 {
    font-family: 'Roboto', sans-serif;
    height: 69px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.header-tela3-3 h1 {
    margin-top: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.main-tela3-3 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 106px auto 0;
    display: none;
}

.main-tela3-3 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.main-tela3-3 .criarQuizNiveis {
    width: 375px;
    height: 439px;
    margin: 29px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-3 .criarQuizNiveis h4 {
    margin: 0px 0 0 17px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.main-tela3-3 .criarQuizNiveis input, textarea {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    width: 341px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-3 .criarQuizNiveis textarea {
    width: 341px;
    height: 177px;
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 22px;
}

.main-tela3-3 .criarQuizNiveis input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #BABABA;
    font-style: italic;
}

.main-tela3-3 .criarQuizNiveis input::-ms-input-placeholder, textarea::placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-3 .criarQuizNiveis input::-ms-input-placeholder, textarea::placeholder {
    color: #BABABA;
    font-style: italic;
}

.main-tela3-3 .criarQuizNiveis-CaixaNiveis {
    width: 100%;
    height: 74px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main-tela3-3 .criarQuizNiveis-CaixaNiveis h4 {
    margin-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.main-tela3-3 .criarQuizNiveis-CaixaNiveis img {
    margin-right: 25px;
}

.footer-tela3-3 .botaoFinalizar {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 136px;
    display: flex;
    justify-content: center;
}

.footer-tela3-3 .botaoFinalizar button {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

.header-tela3-4 {
    font-family: 'Roboto', sans-serif;
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    z-index: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.header-tela3-4 h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43.36px;
    text-align: center;
}

.main-tela3-4 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.main-tela3-4 h3 {
    margin-top: 108px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 29px;
}

.main-tela3-4 .elementos3-4 {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT81Et61bNY27A_vDkhi6K_SK0ueY_JEVU6xA&usqp=CAU);

}

.main-tela3-4 a {
    position: absolute;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 5;
    top: 100px;
    left: 35px;
    top: 293px;
}

.main-tela3-4 button {
    border: none;
}

.main-tela3-4 .botao-acessar-quizz {
    background-color: #EC362D;
    border-radius: 15px;
    width: 220.32px;
    height: 44px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.main-tela3-4 .botao-acessar-quizz p {
    color: #FFFFFF;
    text-align: center;
}

.main-tela3-4 .voltar-home-3-4 {
    color: #818181;
    background-color: #FFFFFF;
    margin-top: 15px;
}